@import "./reset.css";
@import "./base.css";

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";

  min-height: 100vh;
  background-color: #fff;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
